.chatHeader
{
    display: flex;
    justify-content: space-between;
}
.chatHeader p
{
    text-align: left;
    cursor: pointer;
}

.unreadmessagesCount
{
    padding :6px 11px;
    font-size: 20px;
    font-weight: bold;
}